#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vh;
    margin-left: 10px;
    margin-right: 10px;
}

.people-container{
    background-color: #708599;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 5px;
}
.people-container:hover{
    background-color: #ABB8C4;
}

.text{
    margin-left: 10px;
}

.email{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
